{% extends 'base.html' %}
{% block title %} Buyers {% endblock title %}


{% block body %}
<div class="card  w-100 my-4" style=" position:relative;padding:10px;margin:20px;width:60rem;">
    <div class="card-body">
      <h3 class="card-title" style="margin:15px;">Kaizen Logistics</h3>
      <h5 class="card-subtitle mb-2 text-muted"style="margin:15px;font family:Lucida Sans">Address: 107, Us Complex, Jasola, New Delhi - 110076
        New Delhi 110076
        Delhi India</h5>
      <div class="description"style="margin:15px;">
        <p class="text"><strong>City: </strong>New Delhi</p>
        <p class="text"><strong>Buyer: </strong>Fresh fruits and vegetables, chemicals, methanol, soda ash, acetic acid, toulene</p>
        <p class="text"><strong>Contact Person: </strong>Sumit Garg Designation: Managing Partner
            Phone: +91-8800911800</p>
        <a href="https://www.go4worldbusiness.com/member/view/3570999/kaizen-logistics.html" class="readmore"><span class="text">read more</span><i class="icons fa fa-long-arrow-right"> </i></a>
    </div>
    </div>
</div>


<div class="card  w-100 my-4" style=" position:relative;padding:10px;margin:20px;width:60rem;">
    <div class="card-body">
      <h3 class="card-title" style="margin:15px;">Global Shipping Corporation
    </h3>
      <h5 class="card-subtitle mb-2 text-muted"style="margin:15px;font family:Lucida Sans">Address: Sanmitra Apt-A College Road Nashik Maharastra India
        Nashik 422005
        Maharastra India</h5>
      <div class="description"style="margin:15px;">
        <p class="text"><strong>City: </strong>Nashik</p>
        <p class="text"><strong>State: </strong>Maharastra</p>
        <p class="text"><strong>Buyer: </strong>Spices, fruits, and vegetable</p>
        <p class="text"><strong>Contact Person: </strong>Shobha Kande Designation: Proprietor
            Phone: 91-9822714079</p>
        <a href="https://www.go4worldbusiness.com/member/view/3526616/global-shipping-corporation.html" class="readmore"><span class="text">read more</span><i class="icons fa fa-long-arrow-right"> </i></a>
    </div>
    </div>
</div>


<div class="card  w-100 my-4" style=" position:relative;padding:10px;margin:20px;width:60rem;">
    <div class="card-body">
      <h3 class="card-title" style="margin:15px;">Dhanraj World Of Export</h3>
      <h5 class="card-subtitle mb-2 text-muted"style="margin:15px;font family:Lucida Sans">Address: 130, Chimanganj Mandi Agar Road Ujjain (m.p.) 456010
        Ujjain 456010
        Madhyapradesh India</h5>
      <div class="description"style="margin:15px;">
        <p class="text"><strong>City: </strong>Ujjain</p>
        <p class="text"><strong>State: </strong>Madhyapradesh</p>
        <p class="text"><strong>Buyer: </strong>Agriculture products, wheat grain, wheat flour,basmati rice , gram, soybean, chickpea and red onion, garlic, potato</p>
        <p class="text"><strong>Contact Person: </strong>Shankar Lal Anjana Designation: Proprietor
            Phone: +91 9406605775</p>
        <a href="https://www.go4worldbusiness.com/member/view/3568713/dhanraj-world-of-export.html" class="readmore"><span class="text">read more</span><i class="icons fa fa-long-arrow-right"> </i></a>
    </div>
    </div>
</div>


<div class="card  w-100 my-4" style=" position:relative;padding:10px;margin:20px;width:60rem;">
    <div class="card-body">
      <h3 class="card-title" style="margin:15px;">Morya International Export Pvt. Ltd.</h3>
      <h5 class="card-subtitle mb-2 text-muted"style="margin:15px;font family:Lucida Sans">Address: Survey Number 5/2A/1 Jai Malhar Nagar Datta Colony Thergaon Pune
        Pune 411033
        Maharashtra India
        </h5>
      <div class="description"style="margin:15px;">
        <p class="text"><strong>City: </strong>Pune</p>
        <p class="text"><strong>State: </strong>Maharastra</p>
        <p class="text"><strong>Buyer: </strong>All vegetable, spices</p>
        <p class="text"><strong>Contact Person: </strong>Sham Suryawanshi Designation: Owner
            Phone: +91-9595734848</p>
        <a href="https://www.go4worldbusiness.com/member/view/3476431/morya-international-export-pvt-ltd-.html"class="readmore"> <span class="text">read more</span><i class="icons fa fa-long-arrow-right"></i></a>

    </div>
    </div>
</div>


<div class="card  w-100 my-4" style=" position:relative;padding:10px;margin:20px;width:60rem;">
    <div class="card-body">
      <h3 class="card-title" style="margin:15px;">Farmtech Foods Private Limited
    </h3>
      <h5 class="card-subtitle mb-2 text-muted"style="margin:15px;font family:Lucida Sans">Address: 106, Riverside Park, Opp. Apmc Market, Vasna, Ahmedabad, Gujarat, India
        Ahmedabad 380007
        Gujarat India</h5>
      <div class="description"style="margin:15px;">
        <p class="text"><strong>City: </strong>Ahmedabad</p>
        <p class="text"><strong>State: </strong>Gujarat</p>
        <p class="text"><strong>Buyer: </strong>Fresh fruits, vegetables, spices, sugar, rice, pulses, dehydrated onion, ginger, garlic.</p>
        <p class="text"><strong>Contact Person: </strong>Mr. Hemant Soitkar Designation: Sales Manager
            Phone: +91-9974320277</p>
        <a href="https://www.go4worldbusiness.com/member/view/3439028/farmtech-foods-private-limited.html" class="readmore"><span class="text">read more</span><i class="icons fa fa-long-arrow-right"> </i></a>
    </div>
    </div>
</div>


<div class="card  w-100 my-4" style=" position:relative;padding:10px;margin:20px;width:60rem;">
    <div class="card-body">
      <h3 class="card-title" style="margin:15px;">Eliya Foods</h3>
      <h5 class="card-subtitle mb-2 text-muted"style="margin:15px;font family:Lucida Sans">Address: Rs No 57P4/1P. Town: Dundas, Mahuva:364290, Dist: Bhavnagar, Gujarat, India.
        Mahuva 364290
        Gujarat India</h5>
      <div class="description"style="margin:15px;">
        <p class="text"><strong>City: </strong>Mahuva</p>
        <p class="text"><strong>State: </strong>Gujarat</p>
        <p class="text"><strong>Buyer: </strong>Dehydrated onion, garlic & vegetables including seasonings, powder, mixes</p>
        <p class="text"><strong>Contact Person: </strong>Miraj Rana Designation:
            Phone: +91-8758742323</p>
        <a href="https://www.go4worldbusiness.com/member/view/3396186/eliya-foods.html" class="readmore"><span class="text">read more</span><i class="icons fa fa-long-arrow-right"> </i></a>
    </div>
    </div>
</div>


<div class="card  w-100 my-4" style=" position:relative;padding:10px;margin:20px;width:60rem;">
    <div class="card-body">
      <h3 class="card-title" style="margin:15px;">
        GSK Exports And Imports
        </h3>
      <h5 class="card-subtitle mb-2 text-muted"style="margin:15px;font family:Lucida Sans">Address: 6/84 South Street Najaiedayar,
        Paramthivelur
        Namakkal 638182
        Tamil Nadu India</h5>
      <div class="description"style="margin:15px;">
        <p class="text"><strong>City: </strong>Namakkal</p>
        <p class="text"><strong>State: </strong>Tamil Nadu</p>
        <p class="text"><strong>Buyer: </strong>Fresh fruits and vegetables</p>
        <p class="text"><strong>Contact Person: </strong>Sakthivel A Designation: Managing Director
            Phone: +91 9442778016</p>
        <a href="https://www.go4worldbusiness.com/member/view/1184858/gsk-exports-and-imports.html" class="readmore"><span class="text">read more</span><i class="icons fa fa-long-arrow-right"> </i></a>
    </div>
    </div>
</div>


{% endblock body %}