{% extends 'base.html' %}
{% block title %} Delhi {% endblock title %}


{% block body %}
<div style="margin: 50px;">
<span id="12"><h3><strong>1. AIIMS (All India Institute of Medical Sciences), New Delhi</strong></h3></span>
<p>
Global recognition and advanced facilities to treating multi-disciplinary ailments is a forte for AIIMS, New Delhi. Additionally, the institute ranks high amongst choice for international patients too. Some of the known names in the medical field serve in this hospital for variety of medical discplines.
</p><p>
<img src="/static/aiims.png" class="img-responsive" alt="AIIMS Hospital, New Delhi" style="width: 500px; height: 300px;">
</p><p>
<strong>Equipments and Beds Status</strong>
<p><ul>
<li>Number of Total beds are __.
<li>Number of Availble Beds__.

</ul>
<strong>Salient Features</strong>
<p><ul>
<li>Affordable rates for treating patients without comprising quality
<li>Known globally for quality treatments
<li>Patients have the provision of an online portal for their needs
<li>High quality care and standardized wards for treating multi-disciplinary ailments
<li>Facilities on par with international standards
</ul>
<strong>Esteemed panel of doctors</strong>
<ul>
<li>Dr. Peush Sahni, Gastroenterologist (Surgical)
<li>Dr. Hitesh Gurjar, Neurosurgeon
<li>Dr. Alka Kriplani, Gynecologist and Obstetrician
<li>Dr. Anita Saxena, Cardiologist
<li>Dr. Kapil Sikka, Surgeon (ENT)
<li>Dr. Jeevan Titiyal, Ophthalmologist
<li>Dr. Prashant Ramteke, Histopathologist
<li>Dr. Vinod Raina, Ongologist (Medical)
<li>Dr. Shishir Rastogi, Surgeon (Orthopedic)
<li>Dr. N.P Gupta, Urologist
<li>Dr. S.K. Khandelwal, Psychiatrist
</ul>
<strong>Address</strong>
<p>
All India Institute of Medical Sciences,<br/>
Ansari Nagar, New Delhi - 110029
</p><p>
<strong>Phone:</strong> +91-11-26588500 / 26588700<br/>
<strong>Call Centre:</strong> 18602583010<br/>
<strong>Fax:</strong> +91-11-26588663 / 26588641
</p><p>
</div>







<div style="margin: 50px;">
    <span id="13"><h3><strong>2. Sir Ganga Ram Hospital</strong></h3></span>
</p><p>
Sir Ganga Ram Hospital is a super-specialty general hospital considered a premier entity in tertiary-care. It is a private charitable hospital managed by Sir Ganga Ram Trust Society offering free treatment to economically weak patients of Delhi and its neighboring states. It is the first hospital to have installed the whole-body <a href="https://www.medifee.com/tests/ct-scan-cost-in-new-delhi/" target="_new">CT scan</a> unit and a vascular surgery unit in Delhi.  
</p><p>
<img src="/offers/thyrocare/img/sgrh.jpg" class="img-responsive" alt="Sir Ganga Ram Hospital">
</p><p>
    <strong>Equipments and Beds Status</strong>
<p><ul>
<li>Number of Total beds are __.
<li>Number of Availble Beds__.

</ul>
<strong>Salient Features</strong>
<p><ul>
<li>Free boarding, lodging, diagnostics, medicine and surgical treatment for financially weak 
<li>20% out of 675 hospital beds reserved for the poor  
<li>Free OPD services to 40% patients on a first-come first-serve basis 
<li>Regular community outreach programs held 
<li>NABL (National Accreditation Board for Testing and Calibration Laboratories)  ISPO 15189:2007 and OHSAS (Occupational Health & Safety Management System) 1800:2007 certified hospital  
</ul>
<strong>Esteemed panel of doctors</strong>
<ul>
<li>Dr. Sujay Shad (Cardiac Surgery) 
<li>Dr. Vijay Arora (General & Laparoscopic Surgery) 
<li>Dr. Anant Kumar Tiwari (Joint Replacement Surgery) 
<li>Dr. D. S. Rana (Nephrology) 
<li>Dr. Rajesh Acharya (Neurosurgery) 
<li>Dr. A. K. Grover (Ophthalmology) 
<li>Dr. R. Bhalla (Orthopaedics) 
<li>Dr. Raja Joshi (Paediatric Cardiac Care) 
<li>Dr. Sandeep Chopra (Paediatric Neurosurgery) 
<li>Dr. T. Dutta (Paediatric Surgery) 
<li>Dr. Suresh Gupta (Plastic & Cosmetic Surgery) 
<li>Dr. Sudhir Chadha (Renal Transplantation) 
<li>Dr. V. S. Madan (Spinal Surgery) 
<li>Dr. B. K. Vohra (Urology) 
<li>Dr. V. S. Bedi (Vascular & Endovascular Surgery) 
</ul>
<strong>Address</strong>
<p>
Rajinder Nagar,<br/>
New Delhi 110060, INDIA
</p><p>
<strong>Tel:</strong> +91 11-25750000<br/>
<strong>Fax:</strong> +91 11-25861002
</p><p>
</div>




<div style="margin: 50px;">
    <span id="14"><h3><strong>3. GB Pant Hospital</strong></h3></span>
</p><p>
Founded in the year 1961 with humble beginnings, the GB Pant Hospital in Delhi has evolved to become one of the leading names in the health care domain. The hospital has gained international acclaim and is known for provision of high quality treatment and care to patients for numerous multi disciplinary ailments.
</p><p>
<img src="/offers/thyrocare/img/gb-pant-hospital.jpg" class="img-responsive" alt="GB Pant Hospital">
</p><p>
    <strong>Equipments and Beds Status</strong>
<p><ul>
<li>Number of Total beds are __.
<li>Number of Availble Beds__.

</ul>
<strong>Salient Features</strong>
<p><ul>
<li>More than 700 hospital beds for treatments including 85 for private nursing and 154 for ICU
<li>Close to 3,00,000 outpatients and 15,000 inpatients treated annually
<li>Free OPD facilities
<li>Ambulance facility available
<li>Acclaimed doctors
<li>Efficient nursing and support staff
</ul>
<strong>Esteemed panel of Doctors</strong>
<ul>
<li>Dr. Ajay Sharma, Neurosurgeon
<li>Dr. Sanjay Tyagi, Cardiologist
<li>Dr. D.K. Satsangi, Surgeon (Cardiothoracic)
<li>Dr. P.K. Mishra, Surgeon (Gastrointestinal)
<li>Dr. Sunil Kumar Puri, Radiologist
<li>Dr. A.S. Puri, Gastroenterologist
<li>Dr. R.C. Jiloha, Psychiatrist
<li>Dr. Pooja Sakhuja, Pathologist
<li>Dr. Rajeev Uppal, Anesthesiologist
<li>Dr. Neeta Khwaja, Neurologist
<li>Dr. Manju Subberwal, Biochemist
</ul>
<strong>Address</strong>
<p>
1, Jawaharlal Nehru Marg,<br/>
New Delhi, Delhi 110002, India
</p><p>
<strong>Phone:</strong> +91 11 2323 4242,  2323 4568
</p><p>
<span id="15"><h3><strong>4. Dr. Ram Manohar Lohia Hospital, New Delhi</strong></h3></span>
</p><p>
    <strong>Equipments and Beds Status</strong>
<p><ul>
<li>Number of Total beds are __.
<li>Number of Availble Beds__.

</ul>
Dr. Ram Manohar Lohia Hospital in New Delhi is one of the few hospitals built by the British. It is a multi-specialty hospital offering emergency services for various medical ailments. RMLH also has disaster beds to handle mass casualties in case of natural disaster. It is armed with the latest hospital Waste Management System as well. Patients from all over Delhi and other states visit here to avail of treatment.
</p><p>
<img src="/offers/thyrocare/img/ram-manohar-lohia-hospital.jpg" class="img-responsive" alt="Dr. Ram Manohar Lohia Hospital, New Delhi">
</p><p>
<strong>Salient Features</strong>
<p><ul>
<li>Non-invasive Cardiac Lab and a Cath Lab
<li>Round-the-clock emergency services in multiple medical disciplines
<li>Capable of handling mass casualties and disaster
<li>Handles 18 lakhs OPD cases in a year
<li>Treats 67,000 in-patients and 3 lakhs emergency cases
<li>Performs around 5000 CT-SCANS, 1.70 lakhs x-ray, and 28 lakhs laboratory tests, and 17,000 ultrasound annually
<li>Handles biomedical waste with two incinerators
</ul>
<strong>Esteemed panel of doctors</strong>
<ul>
<li>Dr. Neeraj Pandit (Cardiologist) 
<li>Dr. P. K. Sharma (Dermatologist) 
<li>Dr. Anil K. Rai (ENT) 
<li>Dr. Rachna Meel (Ophthalmologist) 
<li>Dr. Sneha Jayant (General and Minimally Invasive Surgery) 
<li>Dr. L. N. Gupta (Neurosurgery) 
<li>Dr. Rajeev Sood (Urology)
</ul>
<strong>Address</strong>
<p>
Baba Kharak Singh Marg,<br/>
Connaught Place, New Delhi - 110001.
</p><p>
<strong>Phone:</strong> 011-23365525
</p><p>
</div>
{% endblock body %}
