{% extends 'base.html' %}
{% block title %} Hospitals {% endblock title %}

{% block body %}

<h1 style="text-align: center; margin: 10px;">Hospitals</h1><br><br>
<style>
table {
  margin: auto;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<table>
  <tr>
    <th>S.No.</th>
    <th>States</th>
    <th>Number of Hospitals</th>
    <th>Details</th>
  </tr>
  <tr>
    <td>1.</td>
    <td>Andhra Pradesh</td>
    <td>_</td>
    <td><a href="#">Click Here</a></td>
  </tr>
  <tr>
    <td>2.</td>
    <td>Arunachal Pradesh</td>
    <td></td>
    <td><a href="#">Click Here</a></td>
  </tr>
  <tr>
    <td>3.</td>
    <td>Assam</td>
    <td></td>
    <td><a href="#">Click Here</a></td>
  </tr>
  <tr>
    <td>4.</td>
    <td>Bihar</td>
    <td></td>
    <td><a href="#">Click Here</a></td>
  </tr>
  <tr>
    <td>5.</td>
    <td>Chhattisgarh</td>
    <td></td>
    <td><a href="#">Click Here</a></td>
  </tr>
  <tr>
    <td>6.</td>
    <td>Goa</td>
    <td></td>
    <td><a href="#">Click Here</a></td>
  </tr>
  <tr>
    <td>6.</td>
    <td>Rajasthan</td>
    <td></td>
    <td><a href="/rajasthan">Click Here</a></td>
  </tr>
</table>

<br><br><br><br><br>
<style>
    table {
      margin: auto;
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 90%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
    <table>
      <tr>
        <th>S.No.</th>
        <th>Union Territories</th>
        <th>Number of Hospitals</th>
        <th>Details</th>
      </tr>
      <tr>
        <td>1.</td>
        <td>Andaman and Nicobar Islands</td>
        <td>_</td>
        <td><a href="#">Click Here</a></td>
      </tr>
      <tr>
        <td>2.</td>
        <td>Chandigarh</td>
        <td></td>
        <td><a href="#">Click Here</a></td>
      </tr>
      <tr>
        <td>3.</td>
        <td>Dadra Nagar Haveli and Daman Diu</td>
        <td></td>
        <td><a href="#">Click Here</a></td>
      </tr>
      <tr>
        <td>4.</td>
        <td>Delhi</td>
        <td></td>
        <td><a href="/delhi">Click Here</a></td>
      </tr>
      <tr>
        <td>5.</td>
        <td>Jammu and Kashmir</td>
        <td></td>
        <td><a href="#">Click Here</a></td>
      </tr>
      <tr>
        <td>6.</td>
        <td>Ladakh</td>
        <td></td>
        <td><a href="#">Click Here</a></td>
      </tr>
      <tr>
        <td>7.</td>
        <td>Lakshadweep</td>
        <td></td>
        <td><a href="#">Click Here</a></td>
      </tr>
      <tr>
        <td>8.</td>
        <td>Puducherry</td>
        <td></td>
        <td><a href="#">Click Here</a></td>
      </tr>
    </table><br><br><br><br><br>

{% endblock body %}
