{% extends 'base.html' %}
{% block title %} IITJ PHC {% endblock title %}
{% block body %}
<div style="margin: 50px;">
    <span id="12">
        <h3><strong>IIT Health Centre</strong></h3>
    </span>
    <p>
        A Primary Health Center (PHC) has been started at the Permanent Campus of IIT Jodhpur from 15 June 2017. This
        fully equipped and self-sufficient facility is run by M/s. Goyal Day & Research Center Private Limited, Jodhpur.
    </p>
    <p>

        <img src="/static/phc.jpeg" class="img-responsive" alt="#" style="width: 500px; height: 300px;">
    </p><br>
    <style>
        table {
            margin: auto;
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 90%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    <table>
        <tr>
            <th>Details</th>
            <th>Day</th>
            <th>Time</th>
            <th>Place</th>
        </tr>
        <tr>
            <td>Lab Test Done At Our PHC </td>
            <td>Everyday</td>
            <td>08:00 A.M TO 08:00 P.M</td>
            <td>PHC</td>
        </tr>
        <tr>
            <td>Lab Test To Be Done Outside PHC But Sample Collection For Those Lab Tests At Our PHC</td>
            <td>Monday,Wednesday,Friday,Sunday</td>
            <td>07:00 A.M To 11:30 A.M</td>
            <td>PHC</td>
        </tr>
        <tr>
            <td>RT-PCR Test(Free of Cost)</td>
            <td>Wednesday</td>
            <td>10:00 A.M </td>
            <td>Admin block</td>
        </tr>
        <tr>
            <td>RT-PCR Test(ON PAYMENT BASIS)</td>
            <td>Monday To Saturday</td>
            <td>10:30 A.M To 12:30 P.M</td>
            <td>PHC</td>
        </tr>
    </table><br><br>

    <p>
        <strong>Equipments and Beds Status</strong>

    <ul>
        <li>Number of Emergency beds 3.
        <li>Number of bed for male 2 .
        <li>Number of bed for female 2 .
    </ul>
    </p>
    <p>
        <strong>Medical Officer In-Charge</strong>
    <ul>
        <li>Co.(Dr.)A.S.Deora(M.No.:8290977285)
        <li>MO-Dr.Shikha(M.No.:8306214073)
        <li>MO-Dr. Gaurav(M.No.:7568181841)
    </ul>
    </p>
    <strong>Other Details</strong>
    <ul>
        <li>Reception - 02912801190
        <li>Dr. Hitesh Gurjar, Neurosurgeon
        <li>Intercom to Intercom - Reception-1183, MO's Room-1178
    </ul>
    <strong>List Of Empanelled Hospitals</strong>
    <ul>
        <li>M/s Medipulse Hospital (Address- E-4, MIA, Basni II, Jodhpur)
        <li>M/s Goyal Hospital & Research Centre (Address - 961/3, Residency Road, Jodhpur)
        <li>ASG Eye Hospital (Address - 1.Pal Link Rd, Kamla Nahru Nagar, Shyam Nagar, Jodhpur 342008,   2.Plot no.7 & 8, Mandore Rd, Manji ka Hatha, Paota Jodhpur 342003)
        <li>Vasundhara Hospital (Address - Nandanvan, Sector 11, Near Central Academy School, Chospasni Housing Board Jodhpur Rajasthan 342008)
    </ul>
    <p>
        <strong>Phone:</strong> _<br />
        <strong>Call Centre:</strong> _<br />
        <strong>Fax:</strong> __
    </p>
</div>

<br><br><br><br>

{% endblock body %}